@import 'base.css';

#progress {
	background: #f5f5f5;
	border-radius: .25rem;
	display: flex;
	height: 1.25rem;
	margin-bottom: 1.25rem;
	overflow: hidden;

	> * {
		background-color: #337ab7;
		flex: 0 0 0%;
		transition: flex-basis .6s ease;
	}
}
